.choice-item {
  width:100%;
  height:100%;
  background: no-repeat center center;
  background-size: contain;
  margin:5px;
}
.item-count-2 .choice-item {
  height:50%;
}
#choice-a, #choice-b {
  width:46%;
  height:400px;
  float:left;
  margin:1%;
  padding:1%;
  border-radius: 1em
}
#choice-a:hover, #choice-b:hover {
  background-color: #eee;
  cursor: hand;
}
#choice-a.selected, #choice-b.selected {
  background-color: #ddd;
}
#actions {
  clear:both
}
.skip-action {
  width: 99%;
  text-align: center;
  background: #900;
  border-radius: 1em;
  font-size: 3em;
  padding: .25em;
}
.skip-action:hover {
  cursor: hand;
  background: #800;
}
#rank {
  margin:.5em;
}
#rank table {
  border-collapse: collapse;
  width:100%;
}
#rank tr.even {
  background: #eee;
}
td.score-score {
  width:50px;
}
td.score-events {
  width:50px;
}

  width:50px;
}
