#choice {
  height:90vh;
}
#choice-a, #choice-b {
  width:100%;
  height:50%;
  border-radius: 1em
}
#choice-tie {
  position: absolute;
  top: 40%;
  width:100%;
  height: 15%;
  z-index:500;
  background: no-repeat center;
  background-size: contain;
}

#choice-tie:hover {
  background-image:url("http://img3.wikia.nocookie.net/__cb20130902192536/scribblenauts/images/thumb/a/ae/Equal_Sign.png/150px-Equal_Sign.png");
  cursor: hand;
}
#choice-a:hover + * + #choice-tie {
  background-image:url("http://img2.wikia.nocookie.net/__cb20130902193220/scribblenauts/images/2/23/Greater_Than_Sign.png");
}
#choice-b:hover + #choice-tie {
  background-image:url("http://img2.wikia.nocookie.net/__cb20130902193350/scribblenauts/images/0/0b/Less_Than_Sign.png");
}
#choice-a:hover, #choice-b:hover{
  background-color: #eee;
  cursor: hand;
}

.choice-item {
  width:100%;
  height:100%;
}
.item-count-2 .choice-item {
  width:50%;
}
.item-count-3 .choice-item {
  height:50%;
  width:50%;
}
.item-count-4 .choice-item {
  height:50%;
  width:50%;
}
@media (min-aspect-ratio: 3/1) {
  .item-count-3 .choice-item {
    width:33%;
    height:100%
  }
}
@media (min-aspect-ratio: 4/1) {
  .item-count-4 .choice-item {
    width:25%;
    height:100%
  }
}

@media (min-aspect-ratio: 1/1) {

  #choice-a, #choice-b {
    width:50%;
    height:100%;
    border-radius: 1em
  }
  #choice-tie {
    top: 0;
    left: 40%;
    width:20%;
    height: 100%;
    z-index:500;
  }
  
}

#actions {
  clear:both
}
.skip-action {
  text-align: center;
  background: #900;
  border-radius: 1em;
  font-size: 5vh;
  padding: 1vh;
}
.skip-action:hover {
  cursor: hand;
  background: #800;
}
